@charset 'utf-8';

/* 본문 바로가기 버튼  */
.navi-skip a {
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  background: black;

  text-align: center;

  z-index: 1;
}

/* header 영역 만들기 */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  background: #f5f;

  z-index: 100;
}

#header .in-header {
  width: 179rem;
  height: 100%;
  margin: 0 auto;

  background: #ff5;
}
#header .header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
}

#header .in-header .logo-box {
  font-size: 0;
  line-height: 0;
  width: 17.1rem;
  height: 3.2rem;
}
#header .in-header .logo-box .logo {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/EX-logo.png) no-repeat center / contain;
}

#header .navigation {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

#header .navigation .menu-list {
  display: flex;
}

#header .navigation {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
}
#header .navigation .menu-list .menu-item a {
  margin-right: 3.2rem;
}

/* a의 last-child를 주면 a의 전체가 먹는다 HTML의 구조를 잘 확인 */
#header .navigation .menu-list .menu-item:last-child a {
  margin-right: 0;
}

#header .navigation .menu-list .menu-item:last-child a:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 22px;
  background-color: #b0bec5;
  margin-left: 3.2rem;
}

#header .navigation .menu-program {
  margin-left: 3.2rem;
  display: flex;
}

#header .navigation .menu-program .program-item:first-child a {
  margin-right: 3.2rem;
}

#header .navigation .menu-program .program-item:last-child a {
  position: relative;
  color: #2638e0;
}

#header .navigation .menu-program .program-item:last-child a:after {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../img/project-arrow-icon.svg) no-repeat center / contain;
}

#header .navigation .menu-button:hover .menu-btn {
  transform: scale(1.04);
}
#header .navigation .menu-button .menu-btn {
  color: #fff;
  width: 9.6rem;
  height: 4rem;
  background: #2638e0;
  border-radius: 10rem;

  font-weight: 700;

  transition: 250ms ease-in-out;
}

#header .navigation .menu-icon {
  display: flex;
}

#header .navigation .menu-icon .link-icon {
  display: block;
  width: 2rem;
  height: 2rem;
}
#header .navigation .menu-icon .link-icon.icon1 {
  background: url(../img/header-icon1.svg) no-repeat center / contain;
  margin-right: 1.6rem;
}
#header .navigation .menu-icon .link-icon.icon2 {
  background: url(../img/header-icon2.svg) no-repeat center / contain;
}

/* main - visual */
#main {
  position: relative;
}
#main .section1 {
  position: relative;
}
#main .section1 .visual {
  position: relative;
  width: 100%;
  height: 100vh;
}

#main .section1 .visual .visual-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: url(../img/main-background-img.png) no-repeat center bottom/ cover;
}

#main .section1 .visual .visual-title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  text-align: center;

  color: #fff;
}

#main .section1 .visual .visual-title-wrapper .visual-title {
  font-weight: 700;
  line-height: 9.25rem;
  font-size: 5.4rem;

  margin-bottom: 3.2rem;
}

#main .section1 .visual .visual-title-wrapper .visual-title span {
  font-size: 9.6rem;
  /* 폰트 사이즈가 달라 다른 텍스트와 줄을 맞추기 위해 line-height를 줄여 맞춤. */
  line-height: 9.2rem;

  /* 텍스트 밑줄을 맞추기 위한 방법 1 */
  /* 또 다른 방법은 transform을 사용하여 하는 방법도 있지만 틀어질 수 있기에 미세조정이 필요할 때 사용한다. */
  vertical-align: baseline;
}

#main .section1 .visual .visual-title-wrapper .visual-desc {
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  color: #c7c7c7;
  margin-bottom: 4rem;
}

#main .section1 .visual .visual-title-wrapper .visual-btn-wrapper .visual-btn {
  width: 22rem;
  height: 4.8rem;
  border: 1px solid #fff;
  border-radius: 10rem;

  color: #fff;

  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: 250ms ease-in-out;
}

/* 버튼 hover 효과 */
#main
  .section1
  .visual
  .visual-title-wrapper
  .visual-btn-wrapper:hover
  .visual-btn {
  transform: scale(1.03);
}

#main
  .section1
  .visual
  .visual-title-wrapper
  .visual-btn-wrapper
  .visual-btn:after {
  content: "";
  display: block;
  width: 1.9rem;
  height: 0.5rem;
  background: url(../img/btn-arrow.svg) no-repeat center bottom;
  margin-left: 2.8rem;
}

#main .section1 .visual .visual-arrow-wrapper {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
#main .section1 .visual .visual-arrow-wrapper .visual-arrow {
  width: 4.4rem;
  height: 4.4rem;
  background: url(../img/scroll-arrow-icon.svg) no-repeat center;
  margin-bottom: 5vh;

  /* 애니메이션 적용 */
  /* alternate는 direction의 속성 중 하나로 애니메이션이 종료된 후 반대 방향으로 다시 시작하도록 지정하는 CSS 속성이다. */
  /* 즉, 일종의 흔들림이나 반복되는 효과를 주어 애니메이션의 생동감을 부여. */
  animation: ScrollMove 1000ms alternate infinite;
}

/* 스크롤 아이콘 움직임 애니메이션 만들기 */
@keyframes ScrollMove {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* main section2 */
#main .section2 {
  position: relative;
  background: #ff5 url(../img/main-section2-background.png) no-repeat 0 0 /
    cover;
  padding: 112px 0;
}

#main .main-wrap,
#footer .main-wrap {
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;

  /* 틀어지는 걸 잡기 쉽지 않음. */
  /*   padding: 0 304px; */
}

#main .section2 .main-con1 {
  display: flex;
  flex-direction: column;
}

#main .section2 .main-con1 .content1 {
  margin-bottom: 112px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* con-desc에 padding을 준 이유는 content1의 높이를 가지기 위해서 주는 것 같음. */
  /*   height: 34.3rem; */
}

#main .section2 .main-con1 .content1 .con-title {
}

#main .section2 .main-con1 .content1 .con-desc {
  width: 100%;
  max-width: 616px;
  margin-left: auto;

  /* 안에 패딩을 주는 이유를 잘 모르겠음.. */
  padding: 4.3rem 4.6rem 18rem;
}

#main .con-title .small-title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #2638e0;

  margin-bottom: 1.6rem;
}
#main .con-title .big-title {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 6.24rem;
  color: #000;
}

#main .con-text {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5;

  word-break: keep-all;
}
#main .section2 .con-text {
  color: #1e2a3b;
}

#main .section2 .main-con1 .content1 .con-text {
  margin-bottom: 3.2rem;
}

/* 버튼 공통 CSS */
#main .con-btn {
  background: #2638e0;
  color: #fff;

  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;

  box-shadow: 0px 8px 16px rgba(4, 61, 205, 0.3);

  transition: 250ms ease-in-out;
}

/* 크기 따로 주기 */
#main .section2 .main-con1 .content1 .con-btn {
  width: 13.6rem;
  height: 4.8rem;
}

#main .section2 .con-btn:hover {
  transform: scale(1.04);
}
#main .section2 .con-btn:after {
  content: "";
  display: block;
  width: 2.2rem;
  height: 0.6rem;
  background: url(../img/btn-arrow.svg) no-repeat center bottom;

  margin-left: 2.4rem;
}

/* content2 부분 */
#main .section2 .content2 {
}
#main .section2 .content2 .content2-title {
  display: flex;
  flex-direction: column;

  margin-bottom: 8rem;
}

#main .section2 .content2 .con-title {
  margin-bottom: 3.2rem;
}

#main .section2 .content2 .con-desc {
  display: flex;
  justify-content: space-between;
}

#main .section2 .content2 .con-desc .con-text {
  margin-top: auto;
}

#main .section2 .content2 .con-desc .con-btn {
  width: 19.8rem;
  height: 4.8rem;
}

#main .section2 .content2 .content2-item-con {
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
}

#main .section2 .content2 .content2-item-con .con-item {
}

#main .section2 .content2 .content2-item-con .con-item .item-img {
  width: 62rem;
  height: 24rem;
  /*   background: #000; */
  margin-bottom: 2.4rem;
  object-fit: cover;
}
#main .section2 .content2 .content2-item-con .con-item .item-img.con-img1 {
  /* background안에 이미지에 그라데이션 주기기 */
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(38, 56, 224, 0.2)),
    url(../img/section2-content2-img1.png) no-repeat center 50% / cover;

  /* 이미지에 그림자 */
  box-shadow: 0px 20px 24px -4px rgba(0, 0, 0, 0.08),
    0px 8px 8px -4px rgba(0, 0, 0, 0.03);
}
#main .section2 .content2 .content2-item-con .con-item .item-img.con-img2 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(38, 56, 224, 0.2)),
    url(../img/section2-content2-img2.png) no-repeat center 50% / cover;

  box-shadow: 0px 20px 24px -4px rgba(0, 0, 0, 0.08),
    0px 8px 8px -4px rgba(0, 0, 0, 0.03);
}

#main .section2 .content2 .content2-item-con .con-item .item-date {
  color: #37474f;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;

  margin-bottom: 0.4rem;
}
#main .section2 .content2 .content2-item-con .con-item .item-title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.36rem;
  color: #000;
}

/* section3 CSS */
#main .section3 {
  position: relative;
  padding: 112px 0;
  background: url(../img/section3-bg-img.png) no-repeat 50% 50% / cover;
  object-fit: cover;
}
#main .section3 .content3 .con-title {
}
#main .section3 .content3 .con-title .small-title {
  color: #9eeeff;
}

#main .section3 .content3 .con-title .big-title {
  color: #fff;
  /* span class는 block요소가 아니라 block을 줘야 가능하다. */
  display: block;
  margin-bottom: 3.6rem;
}

#main .section3 .content3 .con-title .con-text {
  color: #fff;
  margin-bottom: 8rem;
}

/* swiper.js를 이용한 카드 슬라이드 */
#main .section3 .content3 .main-con3-slide {
  position: relative;
}

#main .section3 .content3 .main-con3-slide .swiper-wrapper {
  display: flex;
  align-items: center;

  gap: 3.2rem;

  margin-bottom: 3.6rem;
}
#main .section3 .content3 .main-con3-slide .swiper-wrapper .swiper-slide {
}
#main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide
  .swiper-card {
  width: 49.4rem;
  height: 34.5rem;

  background: #fff;
  border-radius: 2rem;

  padding: 3.2rem;

  position: relative;
}

#main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide
  .swiper-card
  .card-logo {
  display: flex;
  align-items: center;
  /* 가상요소가 실제로 공간을 차지하게 하려면 absolute나 relative를 설정해야한다. */
  /* position: relative; */
}

/* 가상요소로 하면 겹쳐서 사용 불가 display : block을 줘도 공간을 따로 차지하지 않음. */
/* 가상요소를 block을 설정해도 공간을 차지 않는 주요 원인은 가상 요소의 기본 속성이 position : static 떄문이다. */
/* 즉, 가상요소가 부모 요소의 컨텐츠 영역에 영향을 미치지 않도록 설정되어 있기 때문에, block을 설정해도 실제로 공간을 차지 하지 않는 것처럼 보일 수 있다. */
/* #main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide
  .swiper-card
  .card-logo::after {
  content: "";

  display: block;
  width: 2.6rem;
  height: 2.4rem;
  margin-bottom: 2.7rem;

  background: url(../img/mian-content3-card-icon-img.png) no-repeat 0 0 /
    contain;

    해도 안되네용 HTML에 넣어서 사용하겠씁니당. 
  position: absolute;
  top: 0;
  left: 0;
} */
#main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide
  .swiper-card
  .card-icon {
  display: block;
  width: 2.6rem;
  height: 2.4rem;

  background: url(../img/mian-content3-card-icon-img.png) no-repeat 0 0 /
    contain;
}

#main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .swiper-card
  .card-icon,
#main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide:nth-child(4)
  .swiper-card
  .card-icon,
#main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide:nth-child(5)
  .swiper-card
  .card-icon {
  margin-bottom: 2.7rem;
}

#main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .swiper-card
  .card-icon,
#main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .swiper-card
  .card-icon,
#main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide:nth-child(6)
  .swiper-card
  .card-icon {
  margin-bottom: 4.2rem;
}

#main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide
  .swiper-card
  .card-logo.logo-img1 {
  width: 17.8rem;
  height: 2.5rem;

  background: url(../img/main-content3-card-logo1.png) no-repeat 0 0;
  margin-bottom: 3.6rem;
}

#main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide
  .swiper-card
  .card-logo.logo-img2 {
  width: 6.2rem;
  height: 5.2rem;

  background: url(../img/main-content3-card-logo2.png) no-repeat 0 0;

  margin-bottom: 2.4rem;
}

#main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide
  .swiper-card
  .card-logo.logo-img3 {
  width: 15.6rem;
  height: 2.5rem;

  background: url(../img/main-content3-card-logo3.png) no-repeat 0 0;

  margin-bottom: 3.6rem;
}

#main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide
  .swiper-card
  .card-logo.logo-img4 {
  width: 4.5rem;
  height: 5.2rem;

  background: url(../img/main-content3-card-logo2.png) no-repeat 0 0;
  margin-bottom: 2.4rem;
}

#main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide
  .swiper-card
  .card-logo.logo-img5 {
  width: 4.5rem;
  height: 5.2rem;

  background: url(../img/main-content3-card-logo2.png) no-repeat 0 0;

  margin-bottom: 2.4rem;
}

#main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide
  .swiper-card
  .card-logo.logo-img6 {
  width: 14.5rem;
  height: 2.5rem;

  background: url(../img/main-content3-card-logo1.png) no-repeat 0 0;
  margin-bottom: 3.6rem;
}

#main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide
  .swiper-card
  .card-title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3.3rem;
  color: #000;

  margin-bottom: 1.6rem;
}

#main
  .section3
  .content3
  .main-con3-slide
  .swiper-wrapper
  .swiper-slide
  .swiper-card
  .card-text {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #546e7a;

  word-break: keep-all;
}

#main .section3 .main-con3-swiper-area {
  display: flex;

  justify-content: space-between;
}
#main .section3 .main-con3-swiper-area .swiper-pagination {
  display: flex;
  gap: 8px;
}
#main .section3 .main-con3-swiper-area .swiper-pagination .pagination-bullets {
  width: 8px;
  height: 8px;
  background: #455a64;
  border-radius: 4px;

  display: block;

  cursor: pointer;
}

#main
  .section3
  .main-con3-swiper-area
  .swiper-pagination
  .pagination-bullets.active {
  background: #fff;
}

#main .section3 .main-con3-swiper-area .swiper-arrow-buttons {
  display: flex;
  gap: 18px;
}
#main .section3 .main-con3-swiper-area .swiper-arrow-buttons .arrow-button {
  width: 100%;
  height: 100%;
}
#main .section3 .main-con3-swiper-area .swiper-arrow-buttons .arrow-button a {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
  border: 1px solid #fff;

  border-radius: 4.8rem;
}

#main
  .section3
  .main-con3-swiper-area
  .swiper-arrow-buttons
  .arrow-button
  .arrow-prev:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;

  background: url(../img/btn-arrow-prev.svg) no-repeat 35% 50% / contain;
}

#main
  .section3
  .main-con3-swiper-area
  .swiper-arrow-buttons
  .arrow-button
  .arrow-next:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;

  background: url(../img/btn-arrow-next.svg) no-repeat 50% 50% / contain;
}

/* section4 CSS */
#main .section4 {
  padding: 112px 0;

  position: relative;
  /* 이 구조에 대한 설명 */
  /* rgba는 완전 투명한 검정색 , 60% 지점까지 투명하게 유지 하고 그 이후에는 #00063f 진한 남청색 */
  background: linear-gradient(293deg, rgba(0, 0, 0, 0) 60%, #00063f),
    url(../img/main-section4-bg.png) no-repeat 50% / cover;
}

/* 가상요소를 사용하여 이미지에 적용 */
/* #main .section4:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: ;
} */
#main .section4 .content4 {
  display: flex;
  justify-content: space-between;
}

#main .section4 .content4 .con-title {
  width: 100%;
  max-width: 37.6rem;
}
#main .section4 .content4 .con-title .small-title {
  color: #9eeeff;
}
#main .section4 .content4 .con-title .big-title {
  display: block;
  margin-bottom: 3.6rem;
  color: #fff;
}
#main .section4 .content4 .con-title .con-text {
  color: #fff;
  word-break: keep-all;
  font-weight: 500;

  color: #cfd8dc;
}

#main .section4 .content4 .con-title .con-text strong {
  color: #fff;
  font-weight: 700;
}

#main .section4 .content4 .card-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6.4rem;
}
#main .section4 .content4 .card-area .card-con {
  width: 61.8rem;
  height: 25rem;

  border: 1px solid #475569;

  border-radius: 1.6rem;

  padding: 42px 48px;

  color: #fff;

  background: #00063f70;

  cursor: pointer;

  transition: 250ms ease-in-out;
}

#main .section4 .content4 .card-area .card-con:hover {
  transform: scale(1.05);
}
#main .section4 .content4 .card-area .card-con .card-text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;

  margin-bottom: 8px;
}
#main .section4 .content4 .card-area .card-con .card-title {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.8rem;

  margin-bottom: 48px;
}
#main .section4 .content4 .card-area .card-con .card-btn {
  width: 17rem;
  height: 4.8rem;
  border: 1px solid #fff;

  border-radius: 10rem;
}
#main .section4 .content4 .card-area .card-con .card-btn a {
  /*   display: block; */
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

#main .section4 .content4 .card-area .card-con .card-btn a:after {
  content: "";
  display: block;

  width: 2.2rem;
  height: 0.6rem;

  margin-left: 2.4rem;

  background: url(../img/btn-arrow.svg) no-repeat center bottom;
}

/* section5 CSS */

#main .section5 {
  padding: 112px 0;

  position: relative;

  background-color: #f1f9ff;
}

#main .section5 .content5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main .section5 .content5 .title-area {
  width: 100%;
  max-width: 438px;
}

#main .section5 .content5 .con-title {
  margin-bottom: 118px;

  word-break: keep-all;
}

#main .section5 .content5 .title-area .con-desc .con-text {
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 500;
  color: #37474f;

  margin-bottom: 3.2rem;
}

#main .section5 .con-btn {
  width: 18rem;
  height: 4.8rem;
}

#main .section5 .con-btn:hover {
  transform: scale(1.04);
}

#main .section5 .con-btn a:after {
  content: "";
  display: block;
  width: 20px;
  height: 6px;
  background: url(../img/btn-arrow.svg) no-repeat center bottom;

  margin-left: 2.4rem;
}

#main .section5 .con-btn a {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* section5 사진 부분 */
#main .section5 .con-img-area {
  gap: 3.2rem;
  display: flex;
}
#main .section5 .con-img-area .sec5-img {
  box-shadow: 0px 8px 20px 0px rgba(201, 201, 201, 100);
}

#main .section5 .con-img-area .con-img1 {
  width: 266px;
  height: 412px;
}
#main .section5 .con-img-area .con-img2 {
  width: 175px;
  height: 244px;
}

/* section6 CSS */
#main .section6 {
  padding: 112px 0;
  position: relative;

  background: url(../img/main-section6-bg.png) no-repeat center bottom / cover;
}

#main .section6 .con-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 111px;
}

#main .section6 .title-area {
}
#main .section6 .title-area .big-title {
  display: block;
  margin-bottom: 3.6rem;
}
#main .section6 .title-area .con-text {
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;

  color: #37474f;
}

#main .section6 .btn-area .con-btn {
  width: 18.2rem;
  height: 4.8rem;
}

#main .section6 .btn-area .con-btn:hover {
  transform: scale(1.04);
}
#main .section6 .btn-area .con-btn a:after {
  content: "";
  display: block;
  width: 2.4rem;
  height: 2.4rem;

  background: url(../img/download-icon.svg) no-repeat 50% / contain;

  margin-left: 2.4rem;
}

#main .section6 .btn-area .con-btn a {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#main .section6 .card-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main .section6 .card-area .con-card {
  width: 64rem;
  height: 24.8rem;

  padding: 40px 34px;

  background: url(../img/main-section5-card-img.png) no-repeat center center /
    cover;

  border-radius: 1.6rem;

  cursor: pointer;

  transition: 250ms ease-in-out;
}

#main .section6 .card-area .con-card:hover {
  transform: scale(1.05);
}

#main .section6 .card-area .con-card .card-text {
  color: #bce2ea;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;

  margin-bottom: 4rem;
}

#main .section6 .card-area .con-card .card-title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.36rem;

  color: #fff;
  margin-bottom: 1.2rem;
}

#main .section6 .card-area .con-card .card-desc {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #d8daea;

  margin-bottom: 2.4rem;
}

#main .section6 .card-area .card-link-btn a {
  display: block;
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;

  display: flex;
  align-items: center;
}

#main .section6 .card-area .card-link-btn a:after {
  content: "";
  display: inline-block;
  width: 2.4em;
  height: 2.4rem;

  background: url(../img/card-more-viwe-icon.svg) no-repeat center bottom /
    contain;
}

/* section7 CSS */
#main .section7 {
  position: relative;

  /* 기본색을 바탕으로 깔아주고 그라디언트 색을 투명하게 설정하여 바탕 색 설정 */
  /* 0deg에서 0%는 밑 , 100%는 위에서  */
  background: linear-gradient(
      0deg,
      rgba(158, 238, 255, 0.25) 0%,
      rgba(38, 56, 224, 0.25) 100%
    ),
    #2638e0;
}

#main .section7 .sec7-wrap {
  padding: 64px 440px;
}

#main .section7 .content7 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main .section7 .content7 .con7-title {
  color: #fff;
}

#main .section7 .content7 .con7-title .title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.76rem;

  margin-bottom: 1.6rem;
}
#main .section7 .content7 .con7-title .text {
  width: 36.2rem;
  display: block;

  word-break: keep-all;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 3.3rem;
}

/* form 태그 CSS */
#main .section7 .content7 .email-from {
  display: flex;
  flex-direction: column;
  color: #fff;

  width: 100%;
  max-width: 39.8rem;
}

#main .section7 .content7 .email-from .con7-email-area {
}

#main .section7 .content7 .email-from .address {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;

  margin-bottom: 8px;
}

#main .section7 .content7 .email-from .email-text {
  display: block;
  width: 100%;
  height: 100%;
  padding: 14px;
  border-radius: 8px;

  font-weight: 400;
  font-size: 1.6rem;

  /* 폰트 컬러가 바뀌지 않음 -> placeholder 속성으로 들어간 문자는 placeholder의 폰트 색을 바꿔줘야한다. */
  /* placeholder와 별개로 input의 색을 따로 지정해줘야 input 태그안에 텍스트를 기입했을 떄 구분이 간다. */
  color: #000;

  margin-bottom: 16px;
}

/* ::placeholder로 지정한 후 폰트컬러를 바꾸면 가능하다 */
#main .section7 .content7 .email-from .email-text::placeholder {
  color: #cbd4e1;
}

#main .section7 .content7 .email-from .checkbox-area {
  display: flex;
  flex-direction: column;

  margin-bottom: 36px;
}
#main .section7 .content7 .email-from .checkbox-area .check-box {
  display: flex;
  align-items: center;
}

#main .section7 .content7 .email-from .checkbox-area .check-box:first-child {
  margin-bottom: 12px;
}

#main .section7 .content7 .email-from .checkbox-area .check-box input {
  display: inline-flex;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background: #fff;
}

#main .section7 .content7 .email-from .checkbox-area .check-box label {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;

  margin-left: 8px;
}

#main .section7 .content7 .email-from .con7-btn-area button {
  width: 100%;
  height: 6.8rem;
  background: #000;
  border-radius: 8px;

  color: #fff;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
}

/* footer CSS */
#footer {
  padding: 80px 0;

  position: relative;
  background: #0f1a2a;

  color: #eceff1;
}

#footer .footer-content {
  display: flex;
  justify-content: space-between;
}

#footer .footer-content .footer-info {
  margin-bottom: 40px;
}

#footer .footer-content .footer-info .footer-logo {
  display: block;
  width: 17.6rem;
  height: 2.4rem;

  margin-bottom: 32px;
}

#footer .footer-content .footer-info .footer-logo img {
  width: 100%;
  height: 100%;
}

#footer .footer-content .footer-info .footer-info-wrapper {
  display: flex;

  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;

  margin-bottom: 32px;

  width: 100%;
}

#footer .footer-content .footer-info .footer-info-wrapper .mb {
  margin-bottom: 4px;
  color: #b0bec5;
}

#footer .footer-content .footer-info .footer-info-wrapper .footer-item-address,
#footer .footer-content .footer-info .footer-info-wrapper .footer-item-manager {
  display: flex;
  flex-direction: column;

  width: 580px;
}

#footer .footer-content .footer-info .footer-util {
}

#footer .footer-content .footer-info .footer-util .util-list {
  display: flex;
  gap: 20px;
}

#footer .footer-content .footer-info .footer-util .util-list .util-item a {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

#footer .footer-content .footer-inquiry-btn-area {
}

#footer .footer-content .footer-inquiry-btn-area .inquiry-btn {
  display: block;
  width: 15.2rem;
  height: 4.8rem;

  border: 1px solid #fff;
  border-radius: 100px;

  transition: 250ms ease-in-out;
}

#footer .footer-content .footer-inquiry-btn-area .inquiry-btn:hover {
  transform: scale(1.04);
}

#footer .footer-content .footer-inquiry-btn-area .inquiry-btn a {
  width: 100%;
  height: 100%;

  font-size: 1.6em;
  font-weight: 500;
  line-height: 2.4rem;

  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

#footer .footer-content .footer-inquiry-btn-area .inquiry-btn a:after {
  content: "";
  display: block;
  width: 20px;
  height: 6px;
  background: url(../img/btn-arrow.svg) no-repeat center bottom;

  margin-left: 26px;
}

#footer .footer-copyright-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
  border-top: 1px solid #475569;
}

#footer .footer-copyright-wrapper .footer-copyright {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;

  color: #546e7a;
}

#footer .footer-copyright-wrapper .footer-media {
  display: flex;
  gap: 16px;
  align-items: center;
}

#footer .footer-copyright-wrapper .footer-media .media-link {
  display: block;
  width: 30px;
  height: 30px;
}

#footer .footer-copyright-wrapper .footer-media .media-link.facebook {
  background: url(../img/footer-sns-icon1-facebook.svg) no-repeat center center /
    contain;
}

#footer .footer-copyright-wrapper .footer-media .media-link.instagram {
  background: url(../img/footer-sns-icon2-instagram.svg) no-repeat center center /
    contain;
}

#footer .footer-copyright-wrapper .footer-media .media-link.youtube {
  background: url(../img/footer-sns-icon3-youtube.svg) no-repeat center center /
    contain;
}

#footer .footer-copyright-wrapper .footer-media .media-link.naver {
  background: url(../img/footer-sns-icon4-naver.svg) no-repeat center center /
    contain;
}

#footer .footer-copyright-wrapper .footer-media .media-link.linkedin {
  background: url(../img/footer-sns-icon5-in.svg) no-repeat center center /
    contain;
}
